<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151492105619-qrdelsp51qcc0cgic5anm6ppsho29m66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151492105619-qrdelsp51qcc0cgic5anm6ppsho29m66</string>
	<key>API_KEY</key>
	<string>AIzaSyDlCVhfxdOFDJwSAvyf6wyZJXtrgRHFfyw</string>
	<key>GCM_SENDER_ID</key>
	<string>151492105619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.posts</string>
	<key>PROJECT_ID</key>
	<string>blog-6e77a</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-6e77a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151492105619:ios:bbda534e06c7253d228466</string>
	<key>DATABASE_URL</key>
	<string>https://blog-6e77a.firebaseio.com</string>
</dict>
</plist>